/* Structure */
body {
	background-color: $lt_gray; 
}

/*.edge--bottom--reverse {
	background: rgba(66, 54, 43, .4);
}

.edge--top {
	background: rgba(66, 54, 43, .4);
}*/

.nav {
	display: inline-block;
}

.drop {
	list-style-type: none;
	background-color: #FFFFFF;
    border-radius: 4px;
    display: none; /* on hover displayed */
    margin-left: 0px;
    position: absolute;
    min-width: 300px;
    z-index: 999; /* moves to "top" */
    padding-left: 5px; /* removes default button padding */
    	p{
    		margin-bottom: 0px;
    	}
} /* settings dropdown menu! hidden first. absolute display - relative to gear */

.menu:hover .drop {
	display: block;
} /* on gear hover, the dropdown is revealed */

.menu:hover .drop li {
//    display: inline-block;
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
} /* on gear hover, the dropdown li appear as such  - padding between the li lines, no decoration  */

//.drop ul {
//	display: inline-block;
//}

.dropdown {
	line-height: 0px;
	list-style-type: none;
}

.menu {
	list-style-type: none;
	margin-left: 0;
}

.menu > li {
	display: inline-block;
}

